# Python builds

*.egg-info
*.pyc
build
dist

# Editors

.project
.pydevproject
.settings
.spyderproject
.vscode/settings.json
.vscode/launch.json

# OS stuff

.DS_Store
*~

# Data storage

person.csv
benunit.csv
household.csv