# Python builds

*.egg-info
*.pyc
build
dist

# Editors

.project
.pydevproject
.settings
.spyderproject
.vscode/settings.json
.vscode/launch.json
.vscode/dryrun.log
.vscode/targets.log
.vscode/configurationCache.log

# OS stuff

.DS_Store
*~

# Data storage

person.csv
benunit.csv
household.csv

# Jupyter book

docs/book/_build/
docs/book/.ipynb_checkpoints
**/.ipynb_checkpoints
Untitled.ipynb

# Config files

openfisca_uk/tools/datasets.yml

# Temporary files
openfisca_uk/calibration/*.csv
openfisca_uk/calibration/*.yaml
openfisca_uk/calibration/*.h5

# Microdata

**/*.h5
**/*.csv

**/*.log
