# Python builds

*.egg-info
*.pyc
build
dist

# Editors

.project
.pydevproject
.settings
.spyderproject
.vscode/settings.json
.vscode/launch.json
.vscode/dryrun.log
.vscode/targets.log
.vscode/configurationCache.log

# OS stuff

.DS_Store
*~

# Data storage

person.csv
benunit.csv
household.csv

# Jupyter book

docs/book/_build/
docs/book/.ipynb_checkpoints
**/.ipynb_checkpoints
Untitled.ipynb

# Config files

policyengine_uk/tools/datasets.yml

# Temporary files
policyengine_uk/calibration/*.csv
policyengine_uk/calibration/*.yaml
policyengine_uk/calibration/*.h5

# Microdata

**/*.h5
**/*.csv
**/*.pkl
**/*.log
**/ukmod.json

*.ipynb
!docs/**/*.ipynb
!uprating_growth_factors.csv

# Virtual environments
.venv/
venv/
env/
ENV/
.env
env.bak/
venv.bak/
.env*

# Coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Docs
**/_build/