# Workflow that runs on code changes to the master branch.

name: Docs changes
on:
  push:
    branches:
      - master

    paths:
      - docs/**
      - .github/**

jobs:
  Documentation:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout repo
          uses: actions/checkout@v2
        - name: Install uv
          uses: astral-sh/setup-uv@v5

        - name: Set up Python
          uses: actions/setup-python@v2
          with:
              python-version: '3.12'
            
        - name: Install package
          run: uv pip install -e .[dev] --system
        - name: Install policyengine
          run: uv pip install policyengine --system
        - name: Build documentation
          run: make documentation
        - name: Deploy documentation
          uses: JamesIves/github-pages-deploy-action@releases/v3
          with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BRANCH: gh-pages  # The branch the action should deploy to.
            FOLDER: docs/book/_build/html  # The folder the action should deploy.
