# Workflow that runs on code changes to a pull request.

name: Docs changes
on:
  pull_request:
    branches:
      - master

    paths:
      - docs/**
      - .github/**

jobs:
  Test:
      runs-on: ubuntu-latest
      name: Test documentation builds
      steps:
          - name: Checkout repo
            uses: actions/checkout@v4
          - name: Install uv
            uses: astral-sh/setup-uv@v5

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.13'
              
          - name: Install package
            run: uv pip install -e .[dev] --system
          - name: Install policyengine
            run: uv pip install policyengine --system
          - name: Test documentation builds
            run: make documentation